# Auto detect text files and perform LF normalization
* text=auto

# Force LF for these files
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
