# Force LF for .gitattributes itself
.gitattributes text eol=lf

# Auto detect text files and perform LF normalization
* text=auto

# Force LF for these files
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.go text eol=lf
*.proto text eol=lf
go.mod text eol=lf
go.sum text eol=lf
go.work text eol=lf
go.work.sum text eol=lf
Makefile text eol=lf
